.cardbox {
  display: flex;
  justify-content: center;
}

.card {
  width: 75vw;
}

.header {
  font-weight: bold;
}

.break {
  height: 1px;
  background-color: rgb(87, 9, 9);
}

.content {
  background-color: rgb(240, 223, 255);
}

.action {
  background-color: #bb98cf;
}

.icons {
  color: #5f2680;
}

.icons:hover {
  color: black;
}
