.cardbox {
  display: flex;
  justify-content: center;
}

.header {
  font-weight: bold;
}

.break {
  height: 1px;
  background-color: rgb(87, 9, 9);
}

.content {
  background-color: rgb(240, 223, 255);
}

.action {
  background-color: #bb98cf;
}

.icons {
  color: #5f2680;
}

.icons:hover {
  color: black;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 350px;
  }
}

@media only screen and (min-width: 600px) {
  .card {
    width: 450px;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    width: 450px;
  }
}

@media only screen and (min-width: 992px) {
  .card {
    width: 450px;
  }
}
