.loginbox {
  background-color: white;
  border-radius: 10px;
}

.fields {
  display: flex;
  align-items: center;
}

.buttonfields {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 0 10px;
}

.submit {
  color: white;
  background-color: rgb(42, 127, 255);
  border-radius: 5px;
  border: none;
  padding: 0 20px;
}

.submit:hover {
  background-color: rgb(31, 113, 236);
}

.signupicon {
  margin: 10px 5px 5px 10px;
}

.sign {
  margin-left: auto;
}

.signuplink {
  display: flex;
  color: blue;
}

.link {
  text-decoration: none;
}

.text {
  padding-top: 1px;
  padding-left: 3px;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin: auto;
  width: 65px;
}

@media only screen and (max-width: 600px) {
  .loginbox {
    margin: 150px 20px 0 20px;
    padding: 10px 20px 40px;
    font-size: 15px;
  }
  .signup {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: center;
    font-size: 13px;
  }
}

@media only screen and (min-width: 600px) {
  .loginbox {
    width: 80vw;
    margin: 200px auto 0 auto;
    padding: 10px 40px 40px;
    font-size: 13px;
  }
  .signup {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: center;
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .loginbox {
    width: 550px;
    margin: 200px auto 0 auto;
    padding: 10px 60px 40px;
    font-size: 13px;
  }
  .signup {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: center;
  }
}

@media only screen and (min-width: 992px) {
  .aboutBox {
    width: 700px;
    margin: 100px auto 0 auto;
    padding: 70px 8% 40px;
    font-size: 20px;
  }
  .aboutPage {
    font-size: 18px;
    margin-bottom: 50px;
  }
  .pagelogo {
    height: 150px;
    padding-right: 50px;
  }
}
