.navbar {
  display: flex;
  list-style: none;
  padding: 0 35px;
  background-color: rgb(30, 12, 58);
  font-size: 15px;
  font-weight: 600;
  align-items: center;
  height: 60px;
}

.option {
  display: flex;
  align-items: center;
  margin-left: 30px;
  text-decoration: none;
  color: rgb(194, 194, 194);
  cursor: pointer;
}

.word {
  padding-left: 7px;
}

.todo {
  font-size: large;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.option:hover {
  color: white;
}

.active {
  color: white;
}

.icons {
  display: flex;
  margin-left: auto;
}

.user {
  background-color: transparent;
  border: none;
}

.userword {
  font-size: 15px;
  font-weight: 500;
}
