.navbar {
  display: flex;
  background-color: rgb(30, 12, 58);
  font-weight: 600;
  align-items: center;
  height: 65px;
}

.option {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(194, 194, 194);
  cursor: pointer;
}

.word {
  padding-left: 7px;
}

.option:hover {
  color: white;
}

.active {
  color: white;
}

.icons {
  display: flex;
  margin-left: auto;
}

.user {
  background-color: transparent;
  border: none;
}

.userword {
  font-size: 15px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .navbar {
    font-size: 10px;
    padding: 0 15px 0 0;
  }
  .todo {
    height: 40px;
    padding: 0 0 0 10px;
  }
  .option {
    margin-left: 18px;
  }
  .word {
    display: none;
  }
  .icons {
    display: flex;
    margin-left: auto;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    font-size: 13px;
    padding: 0 20px 0 10px;
  }
  .todo {
    height: 40px;
    padding: 0 10px;
  }
  .option {
    margin-left: 15px;
  }
  .icons {
    display: flex;
    margin-left: auto;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    font-size: 15px;
    padding: 0 20px 0 10px;
  }
  .todo {
    height: 45px;
    padding: 0 10px;
  }
  .option {
    margin-left: 20px;
  }
  .icons {
    display: flex;
    margin-left: auto;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    font-size: 18px;
    padding: 0 20px 0 10px;
  }
  .todo {
    height: 50px;
    padding: 0 10px;
  }
  .option {
    margin-left: 25px;
  }
  .icons {
    display: flex;
    margin-left: auto;
  }
}
